.Feedback__buttn{
    padding: 10px 15px;
    border: none;
    border-radius: 16px;
    background-color: rgba(236, 227, 213, 0.385);
    color:rgb(245, 244, 243);
    font-size: 16px;
    cursor: pointer;
}

.Feedback__buttn:not(:last-child){
    margin-right: 16px;
}

.Feedback__buttn:hover,
.Feedback__buttn:focus {
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.436);
}